@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.body{
    margin-top:0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: "Roboto", sans-serif;
    background-color: black;
}
.heading{
    margin-top: 0px;
    padding: 30px 30px;
    text-align: center;
    color:white;
    font-family: "Roboto", sans-serif;
    background-color: rgba(44, 44, 44, 0.792);
    border-bottom: 10px;
    border-bottom-color: rgb(109, 109, 109);
    
}
.container{
    padding:10px;
    border-radius:20px;
    height:580px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width:536px;
    
}
.button{
    height:63px;
    width:115px;
    margin:6px;
    padding:10px;
    cursor:pointer;
    border: 2px solid black;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
.row{
    padding:6px;
    align-items: center;
    justify-content: center;
}
.input{
    background-color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color:white;
    text-align:center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom:20px;
    height:140px;
    width:500px;
    font-size:40px;
    padding:20px;
    border:2px solid black;
}
#clear{
    width:470px;
    font-family: "Roboto", sans-serif;
}
.operator{
    background-color:orange;
    border:4px solid rgb(252, 181, 48);
}
.equal{
    background-color:rgb(153, 255, 0);
    border:4px solid rgb(179, 255, 65);
}
.clear{
    background-color:rgb(255, 42, 0);
    border:4px solid rgb(255, 83, 48);
}